<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table border ="1">
  <caption>Таблица пользователей</caption>
  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Возраст</th>
    <th>Почта</th>
    <th>Роль</th>
    <th>Изменить</th>
    <th>Удалить</th>
    <th>Страница</th>
  </tr>
  <div th:each ="user : ${allUsers}">
    <tr><td><div th:text="${user.getId}"></div></td><td><div th:text="${user.getName}"></div></td>
      <td><div th:text="${user.getLastName}"></div></td><td><div th:text="${user.getAge}"></div></td>
      <td><div th:text="${user.getEmail}"></div></td><td><div th:text="${user.getRoles()}"></div></td>
      <td><div><form th:method="GET" th:action="@{/admin/edit/{id}(id = ${user.getId()})}"><input type="submit" value="Изменить"/>  </form></div></td>
      <td><div><form th:method="DELETE" th:action="@{/admin/delete/{id}(id = ${user.getId()})}"><input type="submit" value="Удалить"/>  </form></div></td>
      <td><div><form th:method="GET" th:action="@{/admin/findUser/{id}(id = ${user.getId()})}"><input type="submit" value="Перейти"/>  </form></div></td>
    <tr>
  </div>
</table>
<br/>
<hr/>
<form th:action="@{/admin/new}">
  <input type="submit" value="Создать"/>
</form>
<form th:action="@{/logout}">
  <input type="submit" value="Выйти"/>
</form>
</body>
</html>